.Calculator {
  background-color: #feebe7;
  border-radius: 2rem;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
}
table {
  width: 20%;
  border: #89878761;
}
td {
  padding: 2rem;
}
.last {
  background-color: #f54927;
  border: #f54927;
}
.Calculator {
  font-weight: bolder;
  font-size: xx-large;
}
